.loginContainer {
    position: relative;
    background: #f1ca89;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.submit-button {
    margin-top: 10px;
}

.text-info {
    margin-top: 50px;
    color: #603F8B!important;
}
